.controller {
    margin: 1rem;
}
.controller button.start {
  width: 260px;
  height: 100px;
  font-size: 1rem;
}
.blogList {
  overflow: hidden;
}
.blogList li {
  display:block;
  list-style: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  width: 25rem;
  height: 25rem;
  border: 1px solid gray;
  float: left;
  margin: 1em;
  padding: 0.4em;
  word-wrap: break-word;
  position: relative;
}
.blogList a {
  text-decoration: none;
  color: #222;
}
.blogList a:hover {
  color: orange;
}
.blogList .like {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  color: #3f87ca;
}

.blogList .unlike {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  color: #d63838;
}